            body {
				background-color: RGB(29,88,113);
			}

			.top-section {
				position:relative;
				z-index:10;
				background-color: RGB(29,88,113);
				background-image:url('https://static.pexels.com/photos/8394/flight-sky-clouds-fly.jpg');
				background-position:Center;
				background-size:100%;
				padding:7px;
			}
			.title-text h1 {
				font-size:4em;
				text-align:Center;
				color:#BF4302;
			}
			.title-text ul {
				list-style-type: none;
				text-align:Center;
				background-color: rgba(234,235,234,.8);
				padding-top:3px;
				padding-bottom:3px;
			}
			.title-text li {
				display:inline;
				padding:10px;
				font-size:1.5em;
				color:#19690E;
				}
					.title-text h1 a {
				text-decoration:none;
			}
			.nav-area {
				position:fixed;
				top:-5px;
				left:0px;
				width:100%;
				z-index:100;
			}
			.title-text ul li a {
				text-decoration:none;
			}
			.top-links:hover{
				text-decoration: Underline;
			}
			.top-links:focus {
				text-decoration: Underline;

			}
			#header-color {
				background-color: rgba(191,191,190,.6);
				padding: 2px;
				
			}
			#active-page {
			    text-decoration:underline;
			}
			.main-body {
				text-align:Center;
				position:relative;
				top:250px;
				clear:both;
			}
			#weclome-to-website {
			color:#FFD617;

			}
			#welcome-hello {
				font-size:3.3em;
				color:#A2B23C;
			}
			#my-photo-id {
				width:30%;
				margin:0px;
				float: left;
			}
			.my-photo {
				position:relative;
				margin-left:30%;
				margin-right:auto;
			}
			
			.main-body h2 {
				position:relative;
				top:1.5em;
				left:1.2em;
				float:left;
				margin-top:1.5em;
			}
			.all-about-info {
				position: relative;
				top:150px;
				margin-left:20%;
			}
			.all-about-all-info {
				position:relative;
				top:70px;
				margin-left:5%;
			}
			.all-about-titles {
				font-size:2em;
				color:#A2B23C;
				text-decoration:Underline;
			}
			.filler-information {
				margin-left:25px;
				color:#FFD617;
				width: 400px;
				font-size:1.1em;
			}
			.hr-lines {
				position:relative;
				left:25px;
			}
			#image-in-info {
				padding-top:190px;
				padding-left:90px;
			}
	    	.all-photos {
				position:relative;
				top:250px;
			
			}
			#photo-tag td img {
				width:300px;
				height:300px;
				display:Block;
				overflow:hidden;
			}
			.all-videos {
				position:relative;
				top:200px;
				margin-left:5%;
				margin-right:5%;
				padding:20px;
			}
			.videos-intro {
				position:relative;
				top:220px;
				text-align:Center;
				font-size:1.2em;
				color: Orange;
			}
			.videos-intro h2 a {
				text-decoration:none;
			}
			#channel-id-tag:hover {
				text-decoration:underline;
			}
			#more-videos-onway {
				text-align:center;
				font-size:1.4em;
				color: Yellow;
			}
			#video-table-border tr td iframe {
				border:3px solid White;
			}
			.main-contact-info {
				position:relative;
				text-align:Center;
				top:270px;
				color:#A2B23C;
				font-size:1.5em;
			}
			.main-contact-info h2 a {
				text-decoration:none; 
				text-decoration:underline;
			}
			.contact-table {
				position:relative;
				top:20px;
				font-size:.8em;
			}
			.contact-table td {
				padding:2px 5px 2px 5px;
			}
			.duranthanks {
			padding-top:30px;
			text-align: Center;
			color:White;
		}
		.duran_pic {
			display: Block;
			margin-left:Auto;
			margin-right:Auto;
			width:700px;
			padding-bottom:20px;
		}
		.worktable {
			border: 2px solid #A2B23C;
			padding: 5px;
			color:#FFD617;
		}
		.darkercolortable{
			background-color: RGBA(16,50,64,.2);
		}